<p style="color: green"><%= notice %></p>

<h1>Nouveaux Films</h1>

<%= form_with model: @film, local: true do |form| %>
  <%= form.label :titre %>
  <%= form.text_field :titre %>

  <%= form.label :annee %>
  <%= form.number_field :annee %>

  <%= form.label :vu, "Déjà vu ?" %>
  <%= form.check_box :vu %>

  <%= form.submit "Enregistrer" %>
<% end %>